In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("employees.csv")
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [9]:
df["Start Date"].head(3)

0     8/6/1993
1    3/31/1996
2    4/23/1993
Name: Start Date, dtype: object

In [11]:
df["Start Date"] = pd.to_datetime(df["Start Date"])
df["Start Date"].head(3)

0   1993-08-06
1   1996-03-31
2   1993-04-23
Name: Start Date, dtype: datetime64[ns]

In [12]:
df["Last Login Time"].head(3)

0    12:42 PM
1     6:53 AM
2    11:17 AM
Name: Last Login Time, dtype: object

In [13]:
df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Last Login Time"].head(3)

0   2019-09-29 12:42:00
1   2019-09-29 06:53:00
2   2019-09-29 11:17:00
Name: Last Login Time, dtype: datetime64[ns]

In [14]:
df["Senior Management"] = df["Senior Management"].astype("bool")

In [15]:
df["Gender"] = df["Gender"].astype("category")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB