In [1]:
import pandas as pd

### Create a Series Object from a Python list

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [4]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

### Create a Series Object from a Dictionary

In [6]:
webster = {"Dog" : "An animal",
          "Banana" : "A delicious fruit",
          "Cyan" : "A colour"
          }

pd.Series(webster)

Dog               An animal
Banana    A delicious fruit
Cyan               A colour
dtype: object

### Intro to Attributes

In [5]:
about_me = ["Smart", "Handsome", "Brilliant", "Charming", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2    Brilliant
3     Charming
4       Humble
dtype: object

In [6]:
s.values

array(['Smart', 'Handsome', 'Brilliant', 'Charming', 'Humble'],
      dtype=object)

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.dtype

dtype('O')

### Intro to Methods

In [19]:
prices = [2.99, 6.34, 15.65]
s = pd.Series(prices)
s

0     2.99
1     6.34
2    15.65
dtype: float64

In [20]:
s.sum()

24.98

In [21]:
s.product()

296.67079

In [22]:
s.mean()

8.326666666666666

In [26]:
# Another way to calculate it...
s.sum()/s.size

8.326666666666666

### Parameters and Arguments

In [27]:
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [33]:
fruits = ["Apple", "Orange", "Pear", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data=fruits, index=weekdays)
pd.Series(fruits, index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Pear
Thursday         Grape
Friday       Blueberry
dtype: object

In [36]:
fruits = ["Apple", "Orange", "Pear", "Grape", "Blueberry", "Passion fruit"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

s = pd.Series(fruits, index=weekdays)
s

Monday               Apple
Tuesday             Orange
Wednesday             Pear
Thursday             Grape
Friday           Blueberry
Monday       Passion fruit
dtype: object

In [37]:
s["Monday"]

Monday            Apple
Monday    Passion fruit
dtype: object

### Import Series with the read_csv Method

In [2]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [3]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [7]:
pokemon.head(2)

0    Bulbasaur
1      Ivysaur
Name: Pokemon, dtype: object

In [10]:
google.tail(3)

3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

### More Series Attributes

In [20]:
google.is_unique

False

In [22]:
pokemon.shape

(721,)

In [23]:
google.name

'Stock Price'

### The .sort_values() Method

In [27]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [28]:
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [30]:
google.sort_values(ascending=False).head(1)

3011    782.22
Name: Stock Price, dtype: float64

### The inplace Parameter

In [31]:
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [35]:
google = google.sort_values()
google.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [39]:
# Overwriting the original series with the new one
google.sort_values(ascending=False, inplace=True)
google.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64

### The .sort_index() Method

In [41]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
google = pd.read_csv("google_stock_price.csv", squeeze=True)

In [43]:
pokemon.sort_values(ascending=False, inplace=True)
pokemon.head(3)

717     Zygarde
633    Zweilous
40        Zubat
Name: Pokemon, dtype: object

In [44]:
pokemon.sort_index(inplace=True)
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

### Python's in Keyword

In [45]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
google = pd.read_csv("google_stock_price.csv", squeeze=True)

In [46]:
3 in [1, 2, 3, 4, 5]

True

In [47]:
"Ivysaur" in pokemon

False

In [50]:
10 in pokemon
10 in pokemon.index

True

In [49]:
"Ivysaur" in pokemon.values

True

### Extract Values by Index Position

In [52]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
google = pd.read_csv("google_stock_price.csv", squeeze=True)

In [53]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [55]:
pokemon[24]

'Pikachu'

In [60]:
pokemon[ [26, 79, 150] ]

26     Sandshrew
79       Slowbro
150          Mew
Name: Pokemon, dtype: object

In [61]:
pokemon[50:55]

50    Dugtrio
51     Meowth
52    Persian
53    Psyduck
54    Golduck
Name: Pokemon, dtype: object

### Extract Values by Index Label

In [68]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [77]:
pokemon[ [111, 135] ]

Pokemon
Rhydon     Ground
Flareon      Fire
Name: Type, dtype: object

In [79]:
pokemon["Bulbasaur"]
pokemon[ ["Pikachu", "Mew", "Blastoise"] ]

Pokemon
Pikachu      Electric
Mew           Psychic
Blastoise       Water
Name: Type, dtype: object

In [81]:
pokemon["Eevee":"Flareon"]

Pokemon
Eevee         Normal
Vaporeon       Water
Jolteon     Electric
Flareon         Fire
Name: Type, dtype: object

### The .get() Method on a Series

In [84]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon.sort_index(inplace=True)
pokemon.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [88]:
pokemon.get(key = ["Moltres", "Meowth"])

Pokemon
Moltres      Fire
Meowth     Normal
Name: Type, dtype: object

In [90]:
pokemon.get(key="Digimon", default="This is not a Pokemon")

'This is not a Pokemon'

In [94]:
pokemon.get(key=["Charmander", "Pikachu", "Digimon"], default="This is not a Pokemon")

Pokemon
Charmander        Fire
Pikachu       Electric
Digimon            NaN
Name: Type, dtype: object

### Math Methods on Series Objects

In [95]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [96]:
# Exclude missing values
google.count()

3012

In [97]:
# Include missing values
len(google)

3012

In [98]:
google.sum()

1006942.0

In [99]:
google.mean()

334.3100929614874

In [100]:
google.sum()/google.count()

334.3100929614874

In [101]:
google.std()

173.18720477113115

In [103]:
google.min()
google.max()

782.22

In [104]:
google.median()

283.315

In [105]:
google.mode()

0    291.21
dtype: float64

In [106]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

### The .idxmax() and .idxmin() Methods

In [107]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [108]:
google.max()

782.22

In [109]:
google.min()

49.95

In [110]:
google.idxmax()

3011

In [111]:
google[3011]

782.22

In [112]:
google.idxmin()

11

In [113]:
google[11]

49.95

In [115]:
google[google.idxmin()]

49.95

### The .value_counts() Method

In [116]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [119]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [120]:
pokemon.value_counts().sum() == pokemon.count()

True

In [121]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

### The .apply() Method

In [122]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [123]:
def classify_perormance(number):
    if number < 300:
        return "Ok"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [124]:
google.apply(classify_perormance)

0                Ok
1                Ok
2                Ok
3                Ok
4                Ok
           ...
3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: Stock Price, Length: 3012, dtype: object

In [127]:
google.apply(lambda stock_price : "US$ " + str(stock_price))

0        US$ 50.12
1         US$ 54.1
2        US$ 54.65
3        US$ 52.38
4        US$ 52.95
           ...
3007    US$ 772.88
3008    US$ 771.07
3009    US$ 773.18
3010    US$ 771.61
3011    US$ 782.22
Name: Stock Price, Length: 3012, dtype: object

### The .map() Method

In [128]:
pokemon_names = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [129]:
pokemon_types = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [130]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

In [131]:
pokemon_names = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_types = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True).to_dict()

In [134]:
type(pokemon_types)

dict

In [135]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object