In [1]:
import pandas as pd

### Create a Series Object from a Python list

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [4]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

### Create a Series Object from a Dictionary

In [6]:
webster = {"Dog" : "An animal",
          "Banana" : "A delicious fruit",
          "Cyan" : "A colour"
          }

pd.Series(webster)

Dog               An animal
Banana    A delicious fruit
Cyan               A colour
dtype: object

### Intro to Attributes

In [5]:
about_me = ["Smart", "Handsome", "Brilliant", "Charming", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2    Brilliant
3     Charming
4       Humble
dtype: object

In [6]:
s.values

array(['Smart', 'Handsome', 'Brilliant', 'Charming', 'Humble'],
      dtype=object)

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.dtype

dtype('O')

### Intro to Methods

In [19]:
prices = [2.99, 6.34, 15.65]
s = pd.Series(prices)
s

0     2.99
1     6.34
2    15.65
dtype: float64

In [20]:
s.sum()

24.98

In [21]:
s.product()

296.67079

In [22]:
s.mean()

8.326666666666666

In [26]:
# Another way to calculate it...
s.sum()/s.size

8.326666666666666

### Parameters and Arguments

In [27]:
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [33]:
fruits = ["Apple", "Orange", "Pear", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data=fruits, index=weekdays)
pd.Series(fruits, index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Pear
Thursday         Grape
Friday       Blueberry
dtype: object

In [36]:
fruits = ["Apple", "Orange", "Pear", "Grape", "Blueberry", "Passion fruit"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

s = pd.Series(fruits, index=weekdays)
s

Monday               Apple
Tuesday             Orange
Wednesday             Pear
Thursday             Grape
Friday           Blueberry
Monday       Passion fruit
dtype: object

In [37]:
s["Monday"]

Monday            Apple
Monday    Passion fruit
dtype: object

### Import Series with the read_csv Method

In [41]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [44]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64